<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>veff3</title>

	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Choose your nick</div>
				<div class="panel-body">

					<!--<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
						{{errorMessage}}
					</div>-->
					<div class="form-group">
						<form>
							<label for="student" class="control-label">Student name</label>
							<input type="text" class="form-control" id="student" name="student" ng-model="student" autofocus/>
							<label for="password" class="control-label">Password</label>
							<input type="text" class="form-control" id="password" name="password" ng-model="password"/>
						</form>
					</div>
					<button type="button" class="btn btn-primary" id="login" ng-click="login()">Enter chat</button>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>