<div class="container">
	<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Evaluation options
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">New evaluation template</a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#evalModal">Post evaluation</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Templates</h1>
                      <p>All templates that you've created are displayed in a list here below. To create a new template click on the "Template" menu button and "New evaluation template". In order to send out a specific template open the "template menu" and choose "Post evaluation." You'll need the ID of your template and that id is shown in the list here below.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Template Menu</a>

                            <div class="col-md-8">
                                <h3>Templates you've created</h3>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Title(IS)</th>
                                            <th>Title(EN)</th>
                                            <th>Result</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="temp in evaltemparr">
                                            <td>{{temp.ID}}</td>
                                            <td>{{temp.Title}}</td>
                                            <td>{{temp.TitleEN}}</td>
                                            <td><button type ="button" class="btn btn-xs btn-info" ng-click="results(temp.ID)">View Results</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                             </div>
                             <div class ="col-md-4">
                                <button type ="button" class="btn btn-xs btn-info" ng-click="results()">View Results</button>
                             </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">New evaluation template</h4>
                              </div>
                              <div class="modal-body">
                                    <form>
                                        <label for="user" class="control-label">Title(IS)</label>
                                        <input type="text" class="form-control" id="tName" name="tName" ng-model="tName" autofocus/>
                                        <label for="user" class="control-label">Title(EN)</label>
                                        <input type="text" class="form-control" id="tNameEN" name="tNameEN" ng-model="tNameEN" />
                                        <label for="intro" class="control-label">Introduction text(IS)</label>
                                        <input type="text" class="form-control" id="intro" name="intro" ng-model="intro" placeholder="optional"/>
                                        <label for="intro" class="control-label">Introduction text(EN)</label>
                                        <input type="text" class="form-control" id="introEN" name="introEN" ng-model="introEN" placeholder="optional" />
                                        <label for="Qestion" class="control-label">Question:</label>
                                        <input type="text" class="form-control" id="Qestion" name="Qestion" ng-model="Qestion"/>

                                        <!--<label for="answers" class="control-label">Type of answer:</label>
                                        <input type="radio" name="answers" id="textA" value="1" checked="checked"/>
                                        Text
                                        <input type="radio" name="answers" id="singleA" value="2"/>
                                        Single
                                        <input type="radio" name="answers" id="mutlA" value="3"/>
                                        Multiple
                                        <br>-->
                                        <button type="button" class="btn btn-default" ng-click="text()">Text</button>
                                        <button type="button" class="btn btn-default" ng-click="single()">Single</button>
                                        <button type="button" class="btn btn-default" ng-click="multiple()">Multiple</button>
                                        <input type="text" class="form-inline" id="pic" name="pic" ng-model="pic" placeholder="optional image url" />

                                        <div ng-show="answerOption === 2 || answerOption === 3">
                                            <label for="Single" class="control-label">Answer:</label>
                                            <input type="text" class="form-control" id="Answer1" name="Single" ng-model="Answer1"/>
                                            <input type="text" class="form-control" id="Answer2" name="Single" ng-model="Answer2"/>
                                            <input type="text" class="form-control" id="Answer3" name="Single" ng-model="Answer3"/>
                                            <input type="text" class="form-control" id="Answer4" name="Single" ng-model="Answer4"/>
                                            <input type="text" class="form-control" id="Answer5" name="Single" ng-model="Answer5"/>
                                        </div>

                                        <input type="radio" name="radios" id="course" value="OptionOne" checked="checked"/>
                                        Course Question
                                        <input type="radio" name="radios" id="teacher" value="OptionTwo">
                                        Teacher Question
                                        <br>
                                        <button type="button" class="btn btn-default" id="addQuestion" ng-click="addQuestion()">Submit Question</button>
                                    </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="createTemplate()">Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal end -->
                        <!-- Modal -->
                        <div class="modal fade" id="evalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Post evaluation template</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-xs-4">
                                            <input type="text" class="form-control" placeholder="ID of template" id="tempID" name="tempID" ng-model="tempID" autofocus/>
                                        </div>

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Start date: <input type="text" class="span2" value="" id="dpd1"></th>
                                                    <th>End date: <input type="text" class="span2" value="" id="dpd2"></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="postEval()">Post</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</div>