
<div class="centerlogin">
	<div class="container">
		<div class="col-md-4">
		<h2>Kennslumat 2015</h2>
			<div class="panel panel-default">
				<div class="panel-heading">You need to sign in</div>
				<div class="panel-body">

						<!--<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
							{{errorMessage}}
						</div>-->
					<div class="form-horizontal">
						<form>
							<label for="user" class="control-label">Student name</label>
							<input type="text" class="form-control" id="user" name="user" ng-model="user" autofocus/>
							<label for="password" class="control-label">Password</label>
							<input type="password" class="form-control" id="password" name="password" ng-model="password"/>
						</form>					
					</div>
					<button type="button" class="btn btn-primary" id="login" ng-click="login()">Login</button>
				</div>				
			</div>
		</div>
	</div>
</div>