<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>{{currentuser}} Courses</h3>
			<table class="table table-striped">
				<thead>
			 		<tr>
			 			<th>CourseID</th>
			 			<th>Course(IS)</th>
			 			<th>Course(EN)</th>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr ng-repeat="item in courseobjarr">
			 			<td>{{item.CourseID}}</td>
			 			<td>{{item.Name}}</td>
			 			<td>{{item.NameEN}}</td>
			 		</tr>
			 	</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<h3>Courses you haven't evalueted yet</h3>
			<div class="panel panel-default">
			    <table class="table table-hover">
			      <tbody>
			        <tr class ="warning" ng-repeat="item in evalarr">
			          <td>
			            {{item.CourseName}}/{{item.CourseNameEN}}
			          </td>
			          <td class="text-right text-nowrap">
			            <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#answerModal" ng-click="geteval(item.CourseID, item.Semester, item.ID)">Evaluate</button>
			          </td>
			        </tr>
			      </tbody>
			    </table>
  			</div>
		</div>
	</div>

	<!-- Modal -->
    <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title" id="myModalLabel">Title</h4>
	            </div>
	            <div class="modal-body">
                	<p>dosi</p>
                </div>
		         <div class="modal-footer">
		            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		            <button type="button" class="btn btn-primary" ng-click="postAnswers()">Post</button>
	          	</div>
            </div>
      	</div>
    </div>
    <!-- Modal end -->



</div>











































